<div class="bg-primary-reverse text-white border-2 border-primary border-round-md p-3 w-25rem">
  <form class="flex flex-column gap-3" (ngSubmit)="saveTask()" [formGroup]="formTask">
    <div class="flex flex-column gap-2">
      <label for="title" class="text-left">Titulo: </label>
      <input type="text" pInputText id="title" name="title" aria-describedby="username-help"  formControlName="title" />
      <small id="username-help" class="text-left text-red-300" *ngIf="isValidfield('title')"> {{ getFieldsErrors('title') }}</small>
    </div>
    <div class="flex flex-column gap-2">
      <p-checkbox formControlName="completed" label="Completado" name="completed" binary="true" />
    </div>
    <div class="flex justify-content-center gap-3">
      <p-button type="submit" label="Guardar Tarea" severity="primary"/>
      <p-button label="Cancelar" severity="danger" (click)="closeTask()"/>
    </div>
  </form>
</div>
